<h1>Listing challenges</h1>

<table>
  <tr>
    <th>Short</th>
    <th>Long</th>
    <th>Link</th>
    <th>Image</th>
    <th>Industry</th>
    <th>Score</th>
    <th>Impact</th>
    <th>Feedid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @challenges.each do |challenge| %>
  <tr>
    <td><%= challenge.short %></td>
    <td><%= challenge.long %></td>
    <td><%= challenge.link %></td>
    <td><%= challenge.image %></td>
    <td><%= challenge.industry %></td>
    <td><%= challenge.score %></td>
    <td><%= challenge.impact %></td>
    <td><%= challenge.feedid %></td>
    <td><%= link_to 'Show', challenge %></td>
    <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
    <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Challenge', new_challenge_path %>
